<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FibiaNMDbContext"
        connectionString="Data Source=DSRVWDB0080\ROBOSQLD01;Initial Catalog=FibiaNM;
        	Integrated Security=true"
        providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>